@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    align-items: center;
}

.nav-bar{
    height: 10vh;
    background-color: peru;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#play{
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: gold;
    font-size: 1.2em;
    cursor: pointer;
}

#restart{
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: gold;
    cursor: pointer;
    font-size: 1.2em;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 40%;
}

.play-ground{
    width: 20%;
    height: 50%;
    display: flex;
    padding-left: 50%;
    justify-content: center;
    max-width: 510px;
    min-width: 310px;
    margin-right: 40%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 20%;
    background-color: rgb(3, 11, 61);
    border-radius: 5%;
    padding-left: 12%;
}

.main-game {
    margin-left: -7%;
    display: grid;
    grid-template-columns: 45% 40% 40%; 
    margin-right: 25%;
    padding: 20%;
}

.main-game p {
    font-size: 2.1em;
    color:aqua;
    font-family: "Varela Round", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.value{
    border: 5px solid rgba(255, 0, 72, 0.845);
    display: p;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    padding: 15% 5%;
    padding-left: 30%;
    height: 12vh;
    width: 2vw;
    padding-right: 70%;
}

.left-part{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 10%;

}

.welcome-box{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    font-size: 1.3em;
    color: crimson;
    width: 18.9vw;
    text-wrap: nowrap;
    background-color: yellow;
}

.welcome-box p{
    font-family: "Varela Round", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    padding: 0 20%;
    
}

.instruction-box {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Varela Round", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(27, 7, 118);
    color:rgb(41, 255, 4);
    font-size: 1.34em;
    height: 30vh;
    padding : 0 40%;
    border: 1px solid black;
}

.instruction-box p{
    text-wrap: nowrap;
}

.draw,.win-para,.turn-para{
    opacity: 0;
}

